@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}


.header__menu {
    margin-right: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}



.nav__menu.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.nav__menu.profile:hover {
    color: #b5fbff
}

.nav__menu.profile img {
    width: 25px;
    height: 25px;
}



.profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.triangle {
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(15, 168, 244);
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown__profile {
    display: none;
    position: absolute;
    background-color: #0fa4ff;
    border-radius: 10px;
    min-width: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    margin-top: 15px;
    left: -20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.dropdown__profile a {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 10px 12px;
    text-decoration: none;
    color: #ffffff;
    transition: color .2s ease;
}


.dropdown__profile a:hover,
.dropdown__categories a:hover{
    color: #b5fbff;
}

.nav__menu.upload {
    display: flex;
    justify-content: center;
    border-radius: 45px;
    border: 3px #b5fbff solid;
    padding: 15px 40px;
    align-items: center;
    gap: 6px;
}

.nav__menu.upload img {
    width: 23px;
    height: 23px;
}

.upload_popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s;
}

.upload_popup.show {
    display: flex;
    opacity: 1;
}

.upload__form {
    background: rgb(34, 161, 252);
    height: 625px;
    width: 900px;
    padding: 50px 50px 75px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-align: center;
    position: relative;
}

.upload__form h2 {
    font-size: 34px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
}

.upload__content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.drop_area {
    border: 3px dashed #d2eaff;
    border-radius: 20px;
    padding: 0px;
    margin: 20px 0;
    width: 600px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.drop_area p {
    color: #ffffff;
    margin: 5px 0;
}

.material-icons.cloud-upload{
    font-size: 70px;
}

#fileInput {
    display: none;
}

.choose_file {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3b6fe8;
    border: 2px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.choose_file:hover {
    background-color: #3260c5;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


.input_fields {
    margin-top: 20px;
    /*position: relative;*/
}

.input_fields label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.input_fields input,
.input_fields textarea {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d2eaff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}

.input_fields textarea {
    height: 100px;
}

.input_fields select {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d2eaff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1e7ddc;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}

.upload_btn {
    background-color: #00A7EF;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #ffffff;
}

.upload_btn:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}


.nav2__wrapper {
    background-color: #3165d3;
    margin: 0px 20px 0px 20px;
    border-radius: 17px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories {
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    border-radius: 45px;
    padding: 14px;
    width: 220px;
    align-items: center;
    gap: 6px;
    background-color: #00A7EF;
    cursor: pointer;
    position: relative;
}


.dropdown__categories {
    display: flex;
    position: absolute;
    background-color: #0fa4ff;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 135%;
    left: 2;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    align-items: center;
}

.dropdown__categories a {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 10px 12px;
    text-decoration: none;
    color: #ffffff;
    transition: color .2s ease;
}


.categories .arrow__icon {
    height: 15px;
    transition: transform 0.3s ease;
}

.categories.open .arrow__icon {
    transform: rotate(180deg);
}

.selections {
    gap: 60px;
    margin-right: 406px;
}



.gallery__container {
    margin: 20px 20px 20px 20px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 15px;
}

.gallery__block {
    position: relative;
}

.gallery__block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.gallery__block img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}




