@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}


.profile__bio {
    width: 100%;
}

.cover {
    width: 1263px;
    height: 600px;
    position: relative;
}

.profile__cover {
    margin-top: 91px;
    width: 1263px;
    height: 600px;
    object-fit: cover;
    border-radius: 25px;
}

.cover::before {
    margin-top: 91px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}


.profile__picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.profile__info {
    display: flex;
    align-items: center;
    width: 1263px;
    position: absolute;
    bottom: -80px;
    padding: 40px;
    color: #ffffff;
}

.name_and_follow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.name {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.follow {
    display: inline-block;
    /*padding: 15px 20px;*/
    height: 50px;
    width: 155px;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    transition: background-color 0.3s ease;
    border: none;
    margin-left: 325px;
    z-index: 1;
}

.follow.unfollow {
    background-color: #e74c3c; /* Красный цвет для отписки */
}

.follow.unfollow:hover {
    background-color: #e8473d; /* Красный цвет для отписки */
}

.follow:hover {
    background-color: #2980b9;
}

.follow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: width 0.3s ease;
    z-index: -1;
}

.follow:hover::before {
    width: 100%;
}





.user_info__stats {
    position: absolute;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 625px;
}


.user_bar {
    display: flex;
    justify-content: center;
}

.user_bar__nav {
    margin-top: 150px;
    display: flex;
    gap: 25px;
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
}

.user_bar__nav h1 {
    position: relative;
    cursor: pointer;
}

.user_bar__nav h1.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffcc;
    position: absolute;
    bottom: -5px;
}

.profile__bio__info {
    margin: 60px 0px 0px 0px;
    display: none;
    flex-direction: column;
    gap: 40px
}

.profile__bio__info__block {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile__bio__info__block h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
}

.profile__bio__info.active {
    overflow: hidden;
    display: flex;
}


.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-item {
    flex: 0 0 23%;
    margin: 1%;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.user_info__img {
    width: 50px;
    height: 50px;
}

.user_info__x {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.user_info__x img {
    width: 30px;
    height: 30px;
}

.user_info__img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.fullscreen-overlay {
    /*padding-right: 200px;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
}

.image-container img {
    max-width: 77vw;
    max-height: 77vh;
    border: 2px solid rgba(44, 140, 235, 0.83);
    border-radius: 10px;
    background: rgba(58, 191, 251, 0.76);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

