@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}


.profile__bio {
    width: 100%;
}

.cover {
    width: 1263px;
    height: 600px;
    position: relative;
}

.profile__cover {
    margin-top: 91px;
    width: 1263px;
    height: 600px;
    object-fit: cover;
    border-radius: 25px;
}

.cover::before {
    margin-top: 91px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}


.profile__picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.profile__info {
    display: flex;
    align-items: center;
    width: 1200px;
    position: absolute;
    bottom: -80px;
    padding: 40px;
    color: #ffffff;
}

.name_and_bio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.biography {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.user_bar {
    display: flex;
    justify-content: center;
}

.user_bar__nav {
    margin-top: 150px;
    display: flex;
    gap: 25px;
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
}

.user_bar__nav h1 {
    position: relative;
    cursor: pointer;
}

.user_bar__nav h1.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffcc;
    position: absolute;
    bottom: -5px;
}

.profile__bio__info {
    margin: 60px 0px 0px 0px;
    display: none;
    flex-direction: column;
    gap: 40px
}

.profile__bio__info__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile__bio__info__block h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
}

.profile__bio__info.active {
    overflow: hidden;
    display: flex;
}


.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-item {
    flex: 0 0 23%;
    margin: 1%;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}


/*.profile__bio__info:target{*/
/*    display: flex;*/
/*}*/
