{% extends 'main/layout.html' %}
{% load static %}


{% block title %} Вдохновение {% endblock %}
{% block content %}

    <div class="container">
        <div class="intro__wrapper__pub">
            <div class="intro__block__pub">
                <h1 class="intro__title__pub">Вдохновение</h1>
                <p class="intro__text__pub">
                    Здесь вы найдете прекрасные работы художников и дизайнеров, разделенные на разнообразные
                    тематические категории. Просто выберите интересующий вас раздел, чтобы окунуться в мир
                    творчества, где изображения становятся яркими точками вдохновения.
                </p>
            </div>
        </div>
    </div>


    <div class="nav2">
        <div class="container">
            <div class="nav2__wrapper">
                <div class="categories" id="categories-button">
                    Категории
                    <img class="arrow__icon" src="{% static 'main/images/inspiration/arrow.png' %}" alt="Профиль"/>
                    <div class="dropdown__categories" id="categories-dropdown">
                        <div class="triangle"></div>
                        <a href="{% url 'filter_by_category' 'design' %}">
                            Дизайн
                        </a>
                        <a href="{% url 'filter_by_category' 'brands' %}">
                            Бренды
                        </a>
                        <a href="{% url 'filter_by_category' 'illustrations' %}">
                            Иллюстрации
                        </a>
                        <a href="{% url 'filter_by_category' 'photos' %}">
                            Фотографии
                        </a>
                        <a href="{% url 'filter_by_category' 'paintings' %}">
                            Картины
                        </a>
                        <a href="{% url 'filter_by_category' 'vogue' %}">
                            Мода
                        </a>
                        <a href="{% url 'filter_by_category' '3d-art' %}">
                            3d-art
                        </a>
                    </div>
                </div>
                <div class="nav2__wrapper selections">
                    <a class="nav__link" href="{% url 'inspiration' %}"> Новинки </a>
                    <a class="nav__link" href="#"> Наш выбор </a>
                    <a class="nav__link" href="#"> Популярное </a>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="container">
            <div class="gallery__container">
                {% for post in posts %}
                <div class="gallery__block">
                    <a href="{% url 'post' post_id=post.id %}">
                        <img src="{{ post.post_img.url }}" alt="{{ post.title }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}