{% extends 'main/layout.html' %}
{% load static %}


{% block title %} Фото {% endblock %}
{% block content %}
    <div class="container">
        <div class="overlay_container">
            <div class="image_container">
                <img src="{{ post_objects.post_img.url }}" alt="" class="fullscreen-image">
                <div class="image_fullscreen">Нажмите, чтобы открыть в полноэкранном режиме</div>
            </div>

            <div class="info_container">
                <div class="image_stats">
                    <div class="image_stats__likes">
                        <a href="#" class="like-btn" data-post-id="{{ post_objects.id }}">
                            <img src="{% static 'main/images/post/likes.png' %}" alt="">
                        </a>
                        <h3 id="likes-count-{{ post_objects.id }}">{{ post_objects.num_of_likes }}</h3>
                    </div>
                    <div class="image_stats__views">
                        <img src="{% static 'main/images/post/views.png' %}" alt="">
                        <h3>5244</h3>
                    </div>
                </div>

                <div class="author_profile">
                    <a href="/profile/{{ post_objects.user }}">
                        <img src="{{ author_profile.profile_img.url }}" alt="">
                    </a>
                    <a href="/profile/{{ post_objects.user }}">
                        <h3>{{ post_objects.user.username }}</h3>
                    </a>
                </div>

                <div class="comments_container">
                    <div class="user_avatar">
                        <a href="/profile/{{ request.user }}">
                            <img src="{{ user_profile.profile_img.url }}" alt="">
                        </a>
                    </div>

                    <form action="/comment/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post_objects.id }}">
                        <div class="comment_box">
                            <textarea  rows="1" name="comment" id="comment" placeholder="Оставьте комментарий..."
                                class="comment__text" autocomplete="off"></textarea>
                        </div>
                        <div class="comment_btns">
                            <button class="clear__button" type="button">
                                Очистить
                            </button>
                            <button class="comment__button" type="submit">
                                Поделиться
                            </button>
                        </div>
                    </form>

                    <div class="comments">
                        {% for comment in comments reversed %}
                        <div class="comment">
                            <div class="comment__info">
                                <div class="comment__author">
                                    <a href="/profile/{{ comment.user }}">
                                        <img src="{{ comment.user.profile.profile_img.url }}" alt="">
                                    </a>
                                    <a href="/profile/{{ comment.user }}">
                                        <h3>{{ comment.user.username }}</h3>
                                    </a>
                                </div>
                                <div class="comments__delete">
                                    {% if request.user.username == comment.user.username  %}
                                    <a href="{% url 'delete_comment' %}?post_id={{ comment.post.id }}&comment_id={{ comment.id }}">
                                        <img class="comment__delete" src="{% static 'main/images/post/delete.png' %}" alt="">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="comment__content">
                                <p>{{ comment.content }}</p>
                            </div>
                            <div class="comment__date">
                                <div class="date">{{ comment.date|date:"d.m.Y" }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}