{% extends 'main/layout.html' %}
{% load static %}


{% block title %} Профиль: {{ user_profile.user.username }} {% endblock %}
{% block content %}

    <div class="container">
        <div class="profile__bio">
            <div class="cover">
                <img class="profile__cover" src="{{ user_profile.cover_img.url }}" alt="Обложка"/>
                <div class="profile__info">
                    <img class="profile__picture" src="{{ user_profile.profile_img.url }}" alt="Фото профиля"/>
                    <form action="/follow" method="POST">
                        {% csrf_token %}
                        <div class="name_and_follow">
                            <div class="name">{{ user_profile.user.username }}</div>
                            <input type="hidden" value="{{ user.username }}" name="follower">
                            <input type="hidden" value="{{ user_object.username }}" name="user">
                            {% if user_object.username == user.username %}
                            {% else  %}
                                <button type="submit" class="follow {% if button_text == 'Отписаться' %}unfollow{% endif %}">
                                    <span>{{ button_text }}</span>
                                </button>
                            {% endif %}
                        </div>
                    </form>
                    <div class="user_info__stats">
                        <p>Публикаций: {{ post_length }}</p>
                        <p>Лайков: {{ like_length }}</p>
                        <p>Подписчиков: {{ user_followers }}</p>
                    </div>
                </div>
            </div>

            <div class="user_bar">
                <div class="user_bar__nav">
                    <a href="#tab_01" class="underline-animation"> Портфолио</a>
                    <a href="#tab_02" class="underline-animation">Биография</a>
                </div>
            </div>

            <div id="tab_01" class="profile__bio__info">
                {% for post in posts reversed %}
                    <div class="publication">
                        <div class="publication__wrapper">
                            <div class="publication__header">
                                <div class="user_info">
                                    <div class="user_info__img">
                                        <img class="profile__picture" src="{{ post.user_profile_img }}"
                                             alt="Фото профиля"/>
                                    </div>
                                    <div class="user_info__name">{{ post.user.username }}</div>
                                </div>
                                {% if request.user.username == user_profile.user.username %}
                                <div class="user_info__x">
                                    <a href="{% url 'delete_post' post.id %}">
                                        <img src="{% static 'main/images/profile/close.png' %}" alt="Удалить пост">
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                            <div class="publication-img open-fullscreen">
                                <div class="img-overlay">
                                    <a href="{% url 'post' post_id=post.id %}">
                                        <img id="downloadImg" src="{{ post.post_img.url }}" alt='Скачать'>
                                    </a>
                                    <div class="image-text">
                                        <h3>{{ post.title }}</h3>
                                        <p>{{ post.description }}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="publication__footer">
                                <img class="downloadBtn" src="{% static 'main/images/publications/download.png' %}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="tab_02" class="profile__bio__info">
                <div class="profile__bio__info__block">
                    <h3>О себе</h3>
                    <p>{{ user_profile.bio }}</p>
                </div>
                <div class="profile__bio__info__block">
                    <h3>Навыки</h3>
                    <p>{{ user_profile.skills }}</p>
                </div>
                <div class="profile__bio__info__block">
                    <h3>Достижения</h3>
                    <p>{{ user_profile.achievements }}</p>
                </div>
                <div class="profile__bio__info__block">
                    <h3>Местоположение</h3>
                    <p>{{ user_profile.location }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}