{% extends 'main/layout.html' %}
{% load static %}


{% block title %} Публикации {% endblock %}
{% block content %}

    <div class="container">
        <div class="intro__wrapper__pub">
            <div class="intro__block__pub">
                <h1 class="intro__title__pub">Публикации</h1>
                <p class="intro__text__pub">
                    Здесь вы найдете неповторимые произведения искусства, созданные талантливыми дизайнерами и
                    художниками со всего мира. Погружайтесь в мир уникальных концепций, открывайте для себя новые
                    тенденции и наслаждайтесь великолепием визуального восприятия.
                </p>
            </div>
        </div>
    </div>
    {% for post in posts reversed %}
    <div class="publication">
        <div class="publication__wrapper">
            <div class="publication__header">
                <div class="user_info">
                    <div class="user_info__img">
                        <a href="/profile/{{ post.user }}"><img class="profile__picture" src="{{ post.user_profile_img }}" alt="Фото профиля"/></a>
                    </div>
                    <a href="/profile/{{ post.user }}"><div class="user_info__name">{{ post.user }}</div></a>
                </div>
            </div>

            <div class="publication-img">
                <div class="img-overlay">
                    <a href="{% url 'post' post_id=post.id %}">
                        <img id="downloadImg" src="{{ post.post_img.url }}" alt="">
                    </a>
                    <div class="image-text">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            </div>

            <div class="publication__footer">
                <div class="likes">
                    <a href="#" class="like-btn" data-post-id="{{ post.id }}">
                        <img src="{% static 'main/images/publications/like.png' %}" alt="">
                    </a>
                    <p id="likes-count-{{ post.id }}">{{ post.num_of_likes }}</p>
                </div>
                <div class="likes">
                    <a href="{% url 'post' post_id=post.id %}">
                        <img src="{% static 'main/images/publications/comment.png' %}" alt="">
                    </a>
                    <p>{{ post.num_comments }}</p>
                </div>
                <img class="downloadBtn" src="{% static 'main/images/publications/download.png' %}" alt="">
            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}